{% extends 'base.html' %}
{% block title %} Tunasoft {% endblock %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Qué es tunasoft?</h1>
        <p>Tunasoft es un proyecto independiente de programadores extremos con experiencia en el desarrollo web, desarrollo móvil y en el desarrollo de aplicaciones de escritorio, dispuestos a realizar cualquier aplicación que su mente pueda concebir.</p>
        <p><a href="{% url "vista_about"%}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div id="barra">
        <div class="row">
            <div class="span4 offset1">
                <h2>software & creatividad</h2>        
            </div>
            <div class="span4 offset2">
                <h3>Programamos tus ideas y solucionamos tus problemas</h3>        
            </div>
        </div>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>Diseño Web</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="{% url "web_view"%}">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Sistemas a Medida</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="{% url "sistemas_view"%}">View details &raquo;</a></p>
       </div>
        <div class="span4">
            <h2>Aplicaciones Moviles</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="{% url "movil_view"%}">View details &raquo;</a></p>
        </div>
    </div>

    <hr>
{% endblock %}